@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
    .nav-menu{
        margin: 0;
    }
    .button-flex{
        margin: 0;
    }
    .nav-menu-active::after{
        width: 16%;
    }
    .nav-menu:hover::after{
        width: 30%;
    }
    .play-btn-text{
        display: none;
    }
    .hero-sction-postion{
        border-radius: 10px;
    }
    .sceond-box{
        display: none;
    }
    .first-box {
        width: 75%;
        margin-top: -138%;
        height: 57px;
    }
    .appointment-position-box{
        display: none;
    }
    .appointment-position-box-2{
        margin-top: 120%;
    }
    .end-section-flex{
        display: none;
    }
    .swiper-button-next{
        margin-top: 14%;
    }
    .swiper-button-prev{
        margin-top: 14%;
    }
    .contact-google-map{
        height: 490px;
        margin-bottom: 40px;
    }
    .navbar-brand {
        width: 20%;
    }
}

@media only screen and (max-width: 774px) {
    .banner-section-heading{
        font-size: 40px;
    }
    .banner-btn {
        padding: 15px 25px;
        font-size: 13px;
    }
    
    .first-box {
        margin-top: 0;
    }
    .third-box {
        margin-left: 0px;
        margin-top: -30%;
        width: 95%;
    }
    .hero-pic{
        width: 100%;
    }
    .services-scetion-box{
        margin-bottom: 20px;
    }
    .services-scetion-box-2{
        margin-bottom: 20px;
    }
    .services-teg {
        margin-top: 30%;
    }
    .appointment-section-text{
        margin-top: 15%;
    }
    .appointment-position-box{
        display: none;
    }
    .appointment-position-box-2{
        width: 48%;
        margin-top: 110%;
    }
    .appointment-section-btn{
        margin-bottom: 20px;
    }
    .services-teg-2 {
        margin-top: 5%;
    }
    .consultation-position-pic-2{
        display: none;
    }
    .blog-btn{
        margin-bottom: 30px;
    }
    .swiper-button-next{
        margin-top: 24%;
    }
    .swiper-button-prev{
        margin-top: 24%;
    }
    .services-box-pic{
        height: 65px;
    }
    .appointment-position-pic{
        width: 100%;
        height: 465px;
    }
    .blog-pic{
        height: 250px;
    }
    .blog-background{
        margin-bottom: 30px;
    }
    .consultation-position-pic{
        width: 100%;
    }
    .contact-google-map{
        height: 400px;
        margin-bottom: 40px;
    }
    .hospital-photo {
        width: 80%;
        height: 355px;
    }
    .hospital-photo-2 {
        width: 75%;
        height: 330px;
    }
    .about-company-name-2{
        margin-top: 0;
    }
    .navbar-brand{
        width: 40%;
    }
    .delivary-section-flex{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
 
    .res-margin{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 421px) {
    .first-box {
        width: 80%;
        height: 55px;
        margin-top: -136%;
    }
    .appointment-position-box-2 {
        width: 48%;
        margin-top: 109%;
    }
    .appointment-position-pic{
        width: 100%;
        height: 420px;
    }
    
    .swiper-button-next {
        margin-top: 28%;
    }
    .swiper-button-prev{
        margin-top: 28%;
    }
    .consultation-position-pic {
        width: 100%;
        height: 320px;
        margin-top: 5%;
    }
    .blog-image{
        height: 320px;
    }
    .third-box {
        margin-left: 0px;
        margin-top: -30%;
        width: 93%;
    }
    
    .first-box {
        margin-top: 0;
    }
}